* {
  box-sizing: border-box;
}
/**
* Custom scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  height: 70px;
}

footer {
  height: 50px;
  background-color: #FF9800;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #333;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.global-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 100vh;
}

.nav-wrapper {
  display: flex;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper > .main-content {
  background-color: #e9e9e9;
  flex-grow: 1;
  padding: 20px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #747474;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: url('../img/cover.jpg') no-repeat;
  height: 100px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9em;
  display: block;
}

#sidebar ul li.active>a,
#sidebar ul li a:hover {
  color: #fff;
  background: #FF9800;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.ABT {
  padding: 20px;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: .25rem;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.card-zone {
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}

.card-icon {
  padding: 1.5rem;
  font-size: 3rem;
  text-align: center;
}

.card-info {
  padding: 1.5rem;
}

.activities {
  background-color: #fff;
  padding: 1rem;
}

.destaque {
  width: 114px;
  height: 114px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  position: relative;
}

.destaque>.avatar {
  background-image: url('../img/avatar.png');
  width: 64px;
  height: 92px;
  top: 20px;
  left: 20px;
  position: absolute;
}

.destaque>.avatar:hover {
  background-image: url('../img/avatar2.png');
}

.latest>span {
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
