* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: #fff url('../img/background.jpeg') no-repeat;
  background-size: cover;
  background-position: top center;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 50px 0px 30px 0px;
}

.btn-lgn {
  border: 1px solid #ffc300;
  color: #fff;
  background-color: #FF9800; /* For browsers that do not support gradients */
  background-image: linear-gradient(-90deg, #FF9800, #ffc300); /* Standar */
  transition: box-shadow 0.3s ease-in-out;
}

.btn-signup {
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border: 1px solid #8BC34A;
  background-color: #4CAF50; /* For browsers that do not support gradients */
  background-image: linear-gradient(-90deg, #8BC34A, #4CAF50); /* Standar */
  transition: box-shadow 0.3s ease-in-out;
}

.painel-options-login {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 15px;
}

.error-input {
  display: none;
}

@media only screen and (max-width: 600px) {
  .headerDivider {
    margin-bottom: 10px;
    border-left: 1px solid #fff;
    background: #fff;
    width: 200px;
    height: 1px;
  }
}

@media only screen and (min-width: 600px) {
  .headerDivider {
    margin-bottom: 10px;
    border-left: 1px solid #fff;
    background: #fff;
    width: 200px;
    height: 1px;
  }
}

@media only screen and (min-width: 768px) {
  .headerDivider {
    margin-left: 3px;
    border-left: 1px solid #fff;
    background: #fff;
    width: 1px;
    height: 50px;
  }
}

@media only screen and (min-width: 992px) {

  .headerDivider {
    margin-left: 3px;
    border-left: 1px solid #fff;
    background: #fff;
    width: 1px;
    height: 50px;
  }
}

@media only screen and (min-width: 1200px) {

  .headerDivider {
    margin-left: 3px;
    border-left: 1px solid #fff;
    background: #fff;
    width: 1px;
    height: 50px;
  }
}
